.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  text-align: center;
  background-color: #282c34;
  justify-content: center;
}


.form-container{
  background-color: #282c34;
  display: flex;
  width: 800px;
  height: 600px;
  align-items: center;
  justify-content: center;
  flex-direction: column
}
.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-header{
  color: #00a2ff;
  font-size: 36px;
}
.form-input{
  width: 400px;
  height: 80px;
  border-radius: 10px;
  border: 1px  #00a2ff solid;
  text-align: center;
  font-size: 24px;
  color: #00a2ff;
  margin: 15px 0px;
}
.form-button{
  width: 200px;
  height: 40px;
  border-radius: 10px;
  background-color: #00a2ff ;
  font-size: 20px;
  margin: 5px 100px;
}
.form-input-reg{
  width: 400px;
  height: 40px;
  border-radius: 10px;
  border: 1px  #00a2ff solid;
  text-align: center;
  font-size: 24px;
  color: #00a2ff;
  margin: 10px 0px;
}
.form-button-reg{
  width: 200px;
  height: 40px;
  border-radius: 10px;
  background-color: #00a2ff ;
  font-size: 20px;
  margin: 5px 100px;
}
.form-text{
  color: white;
  font-size: 20px;
}
.form-text-hyperlink{
  color: #00a2ff;
}

.game-container{
  background-color: #282c34;
  display: flex;
  width: 800px;
  height: 600px;
  align-items: center;
  justify-content: center;
  flex-direction: column
}
.game-header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.game-points{
  color: #00a2ff;
  font-size: 24px;
  margin-right: 40px;
}
.game-time{
  color: #00a2ff;
  font-size: 24px;
  margin-left: 40px;
}
.game-text-red{
  font-size: 28px;
  color: red;
}
.game-question{
  color: yellow;
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 40px;
}
.game-option{
  width: 60px;
  height: 40px;
  margin: 5px;
  font-size: 30px;
  color: #00a2ff;
}